
{% extends "base.html" %}
{% load static %}


{% block div__head %}
    <div>
            <br/>
            <H1 style="text-align: center; font-family: 'Comic Sans MS'; color: black">
                Convert your excel file to any of the following.
            </H1>
        <br/>
    </div>
{% endblock div__head%}


{% block content %}

<div>
    <div class="row">
        {% comment %} <div class="col-md-4 text-center" style="opacity: 1;">
            <div class="content-box" >
                <a href="./xlstocsv">
                    <img title="TO EXCEL" class="finbyz-icon img-responsive"
                            src="{% static 'img/icons/xls.png' %}">
                    <h4 style="margin-top: 5px" class="content-box-title">EXCEL</h4>
                    <p class="content-box-sub">Convert into Excel.</p>
                </a>
            </div>
        </div> {% endcomment %}
        <div class="col-md-4" style="opacity: 1;">
            <div class="content-box text-center">
                <a href="./tocsv">
                    <img title="TO CSV" class="finbyz-icon img-responsive"
                        src="{% static 'img/icons/csv.png' %}">
                    <h4 style="margin-top: 5px" class="content-box-title">CSV</h4>
                    <p class="content-box-sub">Convert into CSV.</p>                    
                </a>
            </div>
        </div>
        <div class="col-md-4" style="opacity: 1;">
            <div class="content-box text-center">
                <a href="./tojson">
                    <img title="TO EXCEL" class="finbyz-icon img-responsive"
                        src="{% static 'img/icons/json.png' %}">
                    <h4 style="margin-top: 5px" class="content-box-title">JSON</h4>
                    <p class="content-box-sub">Convert into JSON.</p>                    
                </a>
            </div>
        </div>
        <div class="col-md-4" style="opacity: 1;">
            <div class="content-box text-center">
                <a href="./tohtml">
                    <img title="TO HTML" class="finbyz-icon img-responsive"
                        src="{% static 'img/icons/html.png' %}">
                    <h4 style="margin-top: 5px" class="content-box-title">HTML</h4>
                    <p class="content-box-sub">Convert into HTML.</p>                    
                </a>
            </div>
        </div>        <div class="col-md-4" style="opacity: 1;">
            <div class="content-box text-center">
                <a href="./toxml">
                    <img title="TO XML" class="finbyz-icon img-responsive"
                        src="{% static 'img/icons/xml.png' %}">
                    <h4 style="margin-top: 5px" class="content-box-title">XML</h4>
                    <p class="content-box-sub">Convert into XML.</p>                    
                </a>
            </div>
        </div>
        {% comment %} <div class="col-md-4 text-center" style="opacity: 1;" onclick="location.href='./pdf'">
            <div class="content-box" >
                <img title="JPG to PDF" class="finbyz-icon img-responsive"
                     src="{% static 'img/icons/pdf.png' %}">
                <h4 style="margin-top: 5px" class="content-box-title">PDF</h4>
                <p class="content-box-sub">Convert your Pdfs .</p>
            </div>
        </div>

        <div class="col-md-4" style="opacity: 1;">
            <div class="content-box text-center">
                <img title="PDF to DOCX" class="finbyz-icon img-responsive"
                     src="{% static 'img/icons/docx.png' %}">
                <h4 style="margin-top: 5px" class="content-box-title">DOCUMENTS</h4>
                <p class="content-box-sub">Convert your documents</p>
            </div>
        </div> {% endcomment %}
    </div>
</div>

{% endblock content %}